
<article class="container">

    <h2 class="meals-h2">DASHBOARD</h2>



    <h2 class="meals-h3">Hello {{users.firstName}}</h2>


    <p>
        <a href="/addmeals">Add Meal!</a>
    </p>
    <p>
        <a href="/editmeals">Edit Meal!</a>
    </p>
    <p>
        <a href="/store">Shop!</a>
    </p>

</article>