<h2 class="meals-h2">LOGIN</h2>

<article class="login">
    
    <form action="/login" method="POST">

            <div class="errors">
                {{#each messages}}
                    <p>{{this}}</p>
                {{/each}}
            </div>

            <label for="form-email">
                aa.elijah89@gmail.com
            </label>
            <input
                type="text"
                id="form-email"
                name="email"
                placeholder="Email"
                autocomplete="off"

                value="{{ email }}"
            />
            <label for="form-password">
                Password
            </label>
            <input
                id="form-password"
                type="password"
                name="password"
                placeholder="Password"
            />

        <input id="login-button" type="submit" value="Login!" />
    </form>
</article>