<h2 class="meals-h2">LOGIN</h2>
<article class="login">
        <form action="" method="">
            <label for="user-email">
                Email:
            </label>
            <input
                id="user-email"
                type="email"
                name="_replyto"
                placeholder="Email"
                autocomplete="off"
                required
            />
            <label for="user-password">
                Password:
            </label>
            <input
                id="user-password"
                type="password"
                name="_replyto"
                placeholder="Password"
                autocomplete="off"
                required
            />

            <input id="login-button" type="submit" value="Login!" />
        </form>
    </article>