<h2 class="meals-h2">CREATE ACCOUNT</h2>
<article class="register">
        <form action="" method="">
            <label for="form-fname">
                First Name
            </label>
            <input
                type="text"
                id="form-fname"
                name="FirstName"
                placeholder="First Name"
                autocomplete="off"
                minlength="2"
                required
            />
            <label for="form-lname">
                Last Name
            </label>
            <input
                type="text"
                id="form-lname"
                name="LastName"
                placeholder="Last Name"
                autocomplete="off"
                minlength="2"
                required
            />
            <label for="user-email">
                Email
            </label>
            <input
                id="user-email"
                type="email"
                name="_replyto"
                placeholder="Email"
                autocomplete="off"
                required
            />
            <label for="user-password">
                Password
            </label>
            <input
                id="user-password"
                type="password"
                name="_replyto"
                placeholder="Password"
                autocomplete="off"
                required
            />

            <input id="register-button" type="submit" value="SIGN UP" />
        </form>
    </article>